.mainCon {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5EBEB;
  /* background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

.col {
  text-align: justify;
}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.profile-wrapper {
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.tentang{
  background-color: #D5B4B4;
  color: rgb(89, 91, 93);
  width: 100%;
  padding: 15px;
  height: 260px;
  text-align: justify;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pemesanan{
  width: 100%;
}
.cathering,.DO{
  text-align: center;
  margin: 15px auto;
  padding: 4px 70px;
  border-radius: 3px;
  border: 1px solid gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.pemesanan img{
  width: 80px;
  height: 80px;
}
.layanan img{
  width: 300px;
  height: 300px;
  margin: 20px 0;
}
.layCat,.layDo {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
}